@page
@model IndexModel
@{
    ViewData["Title"] = "Daxcr | Biography";
}

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" href="../css/site.css"/>
        <style>
            hr {
                color: #ffffff2a;
                max-width: 800px;
                margin-left: 0;
                margin-right: auto;
            }
            html, body {
                overflow-y: scroll !important;
            }
        </style>
    </head>
    <body>
        <div id="title"></div> 
        <div id="schmove">
            <canvas class="glslCanvas"
                data-fragment-url="../shaders/bg2.frag"
                data-vertex-url="../shaders/bg.vert">
            </canvas>

            <div class="content">
                <p class="heading">About me</p>
                <img class="side-image" src="../img/funny.png"/>
                <img class="side-image" style="margin-top: 43%;" src="../img/funny2electricboogaloo.png"/>
                <p class="paragraph">Hi! My name is Dax. I go by "Daxcr", "Daxcore", or just "Dax" online.</p>
                <p class="paragraph">I'm interested in computers and a plethora of other things (lie). I'm working on a game engine called Honeycomb. You can find it on my Github.</p>
                <p class="paragraph">Right now I'm focused on learning more about .NET, Python (more specifically the Ursina game engine), Discord bot development, and shaders.</p>
                <p class="paragraph">You can contact me on Discord (@@daxcr) or via email (daxcr@@dax.cr). You may also use other socials mentioned on this website <a href="../@@" style="text-decoration: underline;">HERE</a> to reach me.</p>
                <p class="heading">More information</p>
                <p class="paragraph" id="age"></p>
                <p class="paragraph">Country of residence: New Zealand.</p>
                <p class="paragraph">My cat: Slightly overweight. Image for reference.</p>
                <img class="inline-image" src="../img/cat.png"/>
                <p class="paragraph">He's a piece of shit, this cat. I swear he's a Russian spy trying to kill me.</p><br><br>
            </div>

            <div class="gradient-overlay"></div>
        </div>

        <div style="position: fixed; left: 40px; top: 130px; z-index: 99999;">
            <div class="nav-item">
                <a href="../home" class="nav-link">
                    <div class="nav-image">
                        <img src="../socialicons/r.png" width="100">
                    </div>
                    <p>RETURN</p>
                </a>
            </div>
        </div>
    </body>
    <script>
        if (window.self === window.top) {
            window.location.replace("/?path=" + window.location.pathname);
        }
    </script>
    <script>
        document.addEventListener("click", e => {
            const link = e.target.closest("a");
            if (!link) return;

            const audio = new Audio("../audio/click.wav");
            audio.volume = 0.1;
            audio.play();

            e.preventDefault();
            document.getElementById("schmove").classList.add("fade-out");
            setTimeout(() => {
                window.location = link.href;
                }, 2000);
            });
            window.addEventListener("pageshow", event => {
            document.getElementById("schmove").classList.remove("fade-out");
        });
    </script>
    <script>
        const title = document.getElementById("title");
        let titleText = "Extended Bio";
        let random = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@@#$%^&*()_+-=[]{}|;':,.<>/?`~";
        let index = 0;

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function animateTitle() {
            for (let i = 0; i < 2; i++) {
                title.textContent = `${titleText.substring(0, index)}${random.charAt(Math.floor(Math.random() * random.length))}`;
                await sleep(20);
            }
            index += 1;
            if (index < titleText.length) {
                setTimeout(animateTitle, 5);
            } else {
                title.textContent = titleText;
            }
        }

        _ = animateTitle();
    </script>
    <script src="../lib/glslCanvas.js"></script>
    <script>
        const canvas = document.querySelector(".glslCanvas");

        function resize() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            sandbox.setUniform("u_resolution", canvas.width, canvas.height);
        }

        window.addEventListener("resize", resize);
        
        resize();

        const sandbox = new GlslCanvas(canvas);

        let startTime = Date.now();
        let lastTimeShader = performance.now();

        function animate() {

            const now = Date.now();
            const elapsed = (now - startTime) / 1000.0;

            sandbox.setUniform("u_time", elapsed);

            requestAnimationFrame(animate);
        }

        animate(); 
    </script>
    <script src="../themeSwapper.js"></script>
    <script>
        const age = document.getElementById("age");

        const start = new Date(2008, 4, 9);
        const today = new Date();
        const years = (today - start) / (1000 * 60 * 60 * 24 * 365.25);

        age.innerHTML = `According to your system clock, I am ${Math.floor(years)} years old. Since the expected lifespan of a human male in New Zealand is approximately 80.2 years, I am ${(years / 80.2 * 100).toFixed(3)}% through my life.`
    </script>
    <script>
        window.addEventListener("message", function(event) {
            if (event.data?.type === "theme") {
                for (const [key, val] of Object.entries(event.data.theme)) {
                    document.documentElement.style.setProperty(key, val);
                }
            }
        });
    </script>
</html>