@page
@model IndexModel
@{
    ViewData["Title"] = "Daxcr | Socials";
}

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" href="../css/site.css"/>
    </head>
    <body>
        <div id="title"></div>
        <div class="centerButton">
            <div class="nav-item">
                <a href="../home" class="nav-link">
                    <div class="nav-image">
                        <img src="../socialicons/r.png" width="100">
                    </div>
                    <p>RETURN</p>
                </a>
            </div>
        </div>
        <div id="schmove">
            <canvas class="glslCanvas"
                data-fragment-url="../shaders/bg.frag"
                data-vertex-url="../shaders/bg.vert">
            </canvas>

            <div class="gradient-overlay"></div>

            <div id="navigation"></div>
        </div>
        
        <div id="descriptions"></div>
    </body>
    <script>
        if (window.self === window.top) {
            window.location.replace("/?path=" + window.location.pathname);
        }
    </script>
    <script>
        document.addEventListener("click", e => {
            const link = e.target.closest("a");
            if (!link) return;

            const audio = new Audio("../audio/click.wav");
            audio.volume = 0.1;
            audio.play();

            e.preventDefault();
            document.getElementById("schmove").classList.add("fade-out");
            document.getElementsByClassName("centerButton")[0].classList.add("fade-out");
            setTimeout(() => {
                window.location = link.href;
                }, 2000);
            });
            window.addEventListener("pageshow", event => {
            document.getElementById("schmove").classList.remove("fade-out");
            document.getElementsByClassName("centerButton")[0].classList.remove("fade-out");
        });
    </script>
    <script>
        displayItemDescription = "";
        const description = document.getElementById("descriptions");
        let dindex = 0;

        async function animateDescription() {
            if (displayItemDescription != description.innerHTML){
                description.style.height = "30%";
                description.style.padding = "1%";
                description.style.outline = "2px var(--quoteOutline) solid";
                for (let i = 0; i < 2; i++) {
                    description.innerHTML = `${displayItemDescription.substring(0, dindex)}${random.charAt(Math.floor(Math.random() * random.length))}`;
                    await sleep(10);
                    dindex += 1;
                }
            } else {
                dindex = 0;
            }
            if (dindex < displayItemDescription.length) {
                setTimeout(animateDescription, 5);
            } else {
                description.innerHTML = displayItemDescription;
                setTimeout(animateDescription, 500);
            }
        }

        _ = animateDescription();
    </script>
    <script>
        const title = document.getElementById("title");
        let titleText = "My Socials";
        let random = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@@#$%^&*()_+-=[]{}|;':,.<>/?`~";
        let index = 0;

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function animateTitle() {
            for (let i = 0; i < 2; i++) {
                title.textContent = `${titleText.substring(0, index)}${random.charAt(Math.floor(Math.random() * random.length))}`;
                await sleep(20);
            }
            index += 1;
            if (index < titleText.length) {
                setTimeout(animateTitle, 5);
            } else {
                title.textContent = titleText;
            }
        }

        _ = animateTitle();
    </script>
    <script src="../lib/glslCanvas.js"></script>
    <script>
        const canvas = document.querySelector(".glslCanvas");
        const sandbox = new GlslCanvas(canvas);

        function resize() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            sandbox.setUniform("u_resolution", canvas.width, canvas.height);
        }

        window.addEventListener("resize", resize);
        
        resize();

        let startTime = Date.now();
        let lastTimeShader = performance.now();

        function animate() {

            const now = Date.now();
            const elapsed = (now - startTime) / 1000.0;

            sandbox.setUniform("u_time", elapsed);

            requestAnimationFrame(animate);
        }

        animate();
    </script>
    <script>
        let items = {
            "Discord": "https://discord.gg/6vbhdzmGq7",
            "Instagram": "https://www.instagram.com/daxcr_",
            "YouTube": "https://www.youtube.com/@@DaxcrDev",
            "X/Twitter": "https://x.com/DaxcrDev",
            "Steam": "https://steamcommunity.com/id/Daxcr",
            "GitHub": "https://github.com/Daxcr",
            "Bluesky": "https://bsky.app/profile/dax.cr",
            "TikTok": "https://www.tiktok.com/@@DaxcrDev",
            "Email": "mailto:daxcr@@dax.cr"
        };
        let itemImages = {
            "Discord": "dsc.png",
            "Instagram": "insta.png",
            "YouTube": "yt.png",
            "X/Twitter": "x.png",
            "Steam": "steam.png",
            "GitHub": "github.png",
            "Bluesky": "bsky.png",
            "TikTok": "tt.png",
            "Email": "gmail.png"
        }
        let itemDescriptions = {
            "Discord": "My Discord server. My handle is also @@daxcr, although my DMs are closed.<br><br>URL: https://discord.gg/6vbhdzmGq7",
            "Instagram": "My Instagram. I'm semi-active here.<br><br>URL: https://www.instagram.com/daxcr_",
            "YouTube": "the tube<br><br>URL: https://www.youtube.com/@@DaxcrDev",
            "X/Twitter": "Not so active here.<br><br>URL: https://x.com/DaxcrDev",
            "Steam": "Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br>Daxcr is playing Celeste<br><br>URL: https://steamcommunity.com/id/Daxcr",
            "GitHub": "My Github! This is where most of my projects go (for reference, check out my projects page).<br><br>URL: https://github.com/Daxcr",
            "Bluesky": "Not so active here.<br><br>URL: https://bsky.app/profile/dax.cr",
            "TikTok": "Instagram is better.<br><br>URL: https://www.tiktok.com/@@DaxcrDev",
            "Email": "My email is daxcr@@dax.cr. You could also email daxaroodles@@gmail.com if you're special. I check my emails semi-often.<br><br>URL: mailto:daxcr@@dax.cr"
        }
        let objects = []
        let container = document.getElementById("navigation");
        let icon = document.querySelector(".centerButton .nav-item");
        let descriptionBox = document.getElementById("descriptions");
        let currentItemDescription = "";

        function setup() {
            let index = 0;
            for (let key in items) {
                if (items.hasOwnProperty(key)) {
                    let div = document.createElement("div");
                    let img = document.createElement("div");
                    div.className = "nav-item";
                    img.className = "nav-image";

                    div.addEventListener("mouseover", function(event) {
                        if (currentItemDescription != itemDescriptions[key]){
                            displayItemDescription = `<h3>${key}</h3>${itemDescriptions[key]}`;
                            currentItemDescription = itemDescriptions[key];
                            dindex = 0;
                            descriptionBox.innerHTML = "";
                        }
                    });

                    let p = document.createElement("p");
                    let a = document.createElement("a");
                    let icon = document.createElement("img");
                    icon.src = `../socialicons/${itemImages[key]}`;
                    icon.width = 100;
                    //icon.className = "nav-icon";
                    p.textContent = key;

                    if (items[key] === "https://hiveborn.digital/"){
                        a.location = items[key];

                        a.addEventListener("click", function(event) {
                            event.preventDefault();
                            window.open(this.location, "_top", "noreferrer");
                        });
                    } else {
                        a.href = items[key];
                    }
                    a.className = "nav-link";

                    img.appendChild(icon);
                    a.appendChild(img);
                    a.appendChild(p);
                    div.appendChild(a);

                    container.appendChild(div);

                    objects[index] = div;
                    index += 1;
                }
            }
        }
        let lastTime = 0;
        let spacing = 0;
        let targetSpacing = 0;
        let radius = 500;
        let rotation = 0;
        let speed = 0;
        let scale = 1;
        let minRadius = 200;

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function lerp(start, end, time) {
            return start + (end - start) * time;
        }

        function loop(timestamp) {
            if (document.documentElement.clientHeight < 1000 && document.documentElement.clientHeight < document.documentElement.clientWidth){
                if (document.documentElement.clientHeight < 700){
                    scale = 0.55;
                    document.documentElement.style.setProperty("--iconScale", "0.55");
                    minRadius = 190;
                } else {
                    scale = 0.7;
                    document.documentElement.style.setProperty("--iconScale", "0.7");
                    minRadius = 230;
                }
            } else {
                scale = 1;
                document.documentElement.style.setProperty("--iconScale", "1.0");
                minRadius = 200;
                if (document.documentElement.clientHeight > document.documentElement.clientWidth){
                    minRadius = 300;
                }
            }
            let deltaTime = (timestamp - lastTime) / 1000;
            lastTime = timestamp;

            if (deltaTime > 0.2) {
                deltaTime = 0.2;
            }
            
            spacing = lerp(spacing, targetSpacing, deltaTime * speed);

            speed += deltaTime * 2;
            if (speed > 4){
                speed = 4;
            }

            rotation += deltaTime / 9;

            radius = (window.innerWidth / 5.5) * scale;
            if (radius < minRadius) {
                radius = minRadius;
            }

            let centerX = document.documentElement.clientWidth / 2;
            let centerY = document.documentElement.clientHeight / 2;

            for (let i = 0; i < objects.length; i++) {
                let angle = (spacing * i) + rotation;

                let x = centerX + radius * Math.cos(angle) - objects[i].offsetWidth / 2;
                let y = centerY + radius * Math.sin(angle) - objects[i].offsetHeight / 2;

                objects[i].style.left = `${x}px`;
                objects[i].style.top = `${y}px`;
                objects[i].style.transform = `scale(${scale})`;
            }

            requestAnimationFrame(loop);
        }
        
        async function start() {
            await sleep(300);
            setup();
            targetSpacing = (2 * Math.PI) / objects.length;
            requestAnimationFrame(loop);
        }
        start();
    </script>
    <script src="../themeSwapper.js"></script>
    <script>
        window.addEventListener("message", function(event) {
            if (event.data?.type === "theme") {
                for (const [key, val] of Object.entries(event.data.theme)) {
                    document.documentElement.style.setProperty(key, val);
                }
            }
        });
    </script>
</html>