@page
@model IndexModel
@{
    ViewData["Title"] = "Daxcr";
}

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" href="../css/site.css"/>
    </head>
    <body>
        <div id="title"></div> 
        <div id="splash"></div> 

        <div class="icon">
            <img src="ringBack.png" width="420px" class="ringSegment" style="z-index: -1;"></img>
            <img src="icon.png" width="250px"></img>
            <img src="ringFront.png" width="420px" class="ringSegment"></img>
        </div>
        <div id="schmove">
            <canvas class="glslCanvas"
                data-fragment-url="../shaders/bg.frag"
                data-vertex-url="../shaders/bg.vert">
            </canvas>

            <div class="gradient-overlay"></div>

            <div id="navigation"></div>
        </div>
        <div id="descriptions"></div>
    </body>
    <script>
        if (window.self === window.top) {
            window.location.replace("/?path=" + window.location.pathname);
        }
    </script>
    <script>
        document.addEventListener("click", e => {
            const link = e.target.closest("a");
            if (!link) return;

            const audio = new Audio("../audio/click.wav");
            audio.volume = 0.1;
            audio.play();

            e.preventDefault();
            document.getElementById("schmove").classList.add("fade-out");
            document.getElementsByClassName("icon")[0].classList.add("fade-out");
            setTimeout(() => {
                window.location = link.href;
                }, 2000);
            });
            window.addEventListener("pageshow", event => {
            document.getElementById("schmove").classList.remove("fade-out");
            document.getElementsByClassName("icon")[0].classList.remove("fade-out");
        });
    </script>
    <script>
        displayItemDescription = "";
        const description = document.getElementById("descriptions");
        let dindex = 0;

        async function animateDescription() {
            if (displayItemDescription != description.innerHTML){
                description.style.height = "30%";
                description.style.padding = "1%";
                description.style.outline = "2px var(--quoteOutline) solid";
                for (let i = 0; i < 2; i++) {
                    description.innerHTML = `${displayItemDescription.substring(0, dindex)}${random.charAt(Math.floor(Math.random() * random.length))}`;
                    await sleep(10);
                    dindex += 1;
                }
            } else {
                dindex = 0;
            }
            if (dindex < displayItemDescription.length) {
                setTimeout(animateDescription, 5);
            } else {
                description.innerHTML = displayItemDescription;
                setTimeout(animateDescription, 500);
            }
        }

        _ = animateDescription();
    </script>
    <script>
        const title = document.getElementById("title");
        let titleText = "Hello, World!";
        let random = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@@#$%^&*()_+-=[]{}|;':,.<>/?`~";
        let index = 0;

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function animateTitle() {
            for (let i = 0; i < 2; i++) {
                title.textContent = `${titleText.substring(0, index)}${random.charAt(Math.floor(Math.random() * random.length))}`;
                await sleep(20);
            }
            index += 1;
            if (index < titleText.length) {
                setTimeout(animateTitle, 5);
            } else {
                title.textContent = titleText;
            }
        }

        _ = animateTitle();
    </script>
    <script src="lib/glslCanvas.js"></script>
    <script>
        const canvas = document.querySelector(".glslCanvas");
        const sandbox = new GlslCanvas(canvas);

        function resize() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            sandbox.setUniform("u_resolution", canvas.width, canvas.height);
        }

        window.addEventListener("resize", resize);
        
        resize();

        let startTime = Date.now();
        let lastTimeShader = performance.now();

        function animate() {

            const now = Date.now();
            const elapsed = (now - startTime) / 1000.0;

            sandbox.setUniform("u_time", elapsed);

            requestAnimationFrame(animate);
        }

        animate(); 
    </script>
    <script>
        let items = {
            "Extended Bio": "../bio/",
            "Projects": "../projects/",
            "Socials": "../@@/",
            "Archive": "../archive/",
            "Statistics": "../stats/",
            "Credit": "../credit/",
            //"Minesweeper?": "../minesweeper/",
            "Hiveborn Digital": "https://hiveborn.digital/"
        };
        let itemImages = {
            "Extended Bio": "blog.png",
            "Projects": "gamedev.png",
            "Socials": "insta.png",
            "Archive": "download.png",
            "Statistics": "stonks.png",
            "Credit": "misc.png",
            //"Minesweeper?": "misc.png",
            "Hiveborn Digital": "hbd.png"
        }
        let itemDescriptions = {
            "Extended Bio": "Self explanatory.",
            "Projects": "My work-in-progress projects. Some may not be available and/or useable as of yet.",
            "Socials": "My social media accounts.",
            "Archive": "Archive of all my old/scrapped work. A lot of it are previous Celeste mods. This is essentially a museum.<br><br>This page is not finished yet.",
            "Statistics": "Basic website statistics.",
            "Credit": "Website credit.",
            //"Minesweeper?": "Minesweeper if it was a roguelike...",
            "Hiveborn Digital": "New Zealand-based indie game dev studio I run."
        }
        let objects = []
        let container = document.getElementById("navigation");
        let descriptionBox = document.getElementById("descriptions");
        let currentItemDescription = "";

        function setup() {
            let index = 0;
            for (let key in items) {
                if (items.hasOwnProperty(key)) {
                    let div = document.createElement("div");
                    let img = document.createElement("div");
                    div.className = "nav-item";
                    img.className = "nav-image";

                    div.addEventListener("mouseover", function(event) {
                        if (currentItemDescription != itemDescriptions[key]){
                            displayItemDescription = `<h3>${key}</h3>${itemDescriptions[key]}`;
                            currentItemDescription = itemDescriptions[key];
                            dindex = 0;
                            descriptionBox.innerHTML = "";
                        }
                    });

                    let p = document.createElement("p");
                    let a = document.createElement("a");
                    let icon = document.createElement("img");
                    icon.src = `../socialicons/${itemImages[key]}`;
                    icon.width = 100;
                    //icon.className = "nav-icon";
                    p.textContent = key;

                    if (items[key] === "https://hiveborn.digital/"){
                        a.location = items[key];

                        a.addEventListener("click", function(event) {
                            event.preventDefault();
                            window.open(this.location, "_top", "noreferrer");
                        });
                    } else {
                        a.href = items[key];
                    }
                    a.className = "nav-link";

                    img.appendChild(icon);
                    a.appendChild(img);
                    a.appendChild(p);
                    div.appendChild(a);

                    container.appendChild(div);

                    objects[index] = div;
                    index += 1;
                }
            }
        }
        let lastTime = 0;
        let spacing = 0;
        let targetSpacing = 0;
        let radius = 500;
        let rotation = 0;
        let speed = 0;
        let scale = 1;
        let minRadius = 200;

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function lerp(start, end, time) {
            return start + (end - start) * time;
        }

        let ringStartTime = Date.now();

        function loop(timestamp) {
            if (document.documentElement.clientHeight < 950 && document.documentElement.clientHeight < document.documentElement.clientWidth){
                if (document.documentElement.clientHeight < 700){
                    scale = 0.55;
                    document.documentElement.style.setProperty("--iconScale", "0.67");
                    document.documentElement.style.setProperty("--iconRingScale", "0.67");
                    document.documentElement.style.setProperty("--navitemScaling", "0.67");
                    minRadius = 190;
                } else {
                    scale = 0.7;
                    document.documentElement.style.setProperty("--iconScale", "0.83");
                    document.documentElement.style.setProperty("--iconRingScale", "0.83");
                    document.documentElement.style.setProperty("--navitemScaling", "0.9");
                    minRadius = 230;
                }
            } else {
                scale = 1;
                document.documentElement.style.setProperty("--iconScale", "1.0");
                document.documentElement.style.setProperty("--iconRingScale", "1.0");
                document.documentElement.style.setProperty("--navitemScaling", "1.3");
                minRadius = 200;
                if (document.documentElement.clientHeight > document.documentElement.clientWidth){
                    minRadius = 300;
                }
            }
            let deltaTime = (timestamp - lastTime) / 1000;
            lastTime = timestamp;

            if (deltaTime > 0.2) {
                deltaTime = 0.2;
            }

            let elapsed = (Date.now() - ringStartTime) / 1000;
            document.documentElement.style.setProperty("--iconRingAngle", `${-18 + (Math.sin(elapsed / 12) * 13)}deg`);
            
            spacing = lerp(spacing, targetSpacing, deltaTime * speed);

            speed += deltaTime * 2;
            if (speed > 4){
                speed = 4;
            }

            rotation += deltaTime / 9;

            radius = (window.innerWidth / 5.5) * scale;
            if (radius < minRadius) {
                radius = minRadius;
            }

            let centerX = document.documentElement.clientWidth / 2;
            let centerY = document.documentElement.clientHeight / 2;

            for (let i = 0; i < objects.length; i++) {
                let angle = (spacing * i) + rotation;

                let x = centerX + radius * Math.cos(angle) - objects[i].offsetWidth / 2;
                let y = centerY + radius * Math.sin(angle) - objects[i].offsetHeight / 2;

                objects[i].style.left = `${x}px`;
                objects[i].style.top = `${y}px`;
                objects[i].style.transform = `scale(${scale})`;
            }

            requestAnimationFrame(loop);
        }
        
        async function start() {
            await sleep(300);
            setup();
            targetSpacing = (2 * Math.PI) / objects.length;
            requestAnimationFrame(loop);
        }
        start();
    </script>
    <script>
        splash = document.getElementById("splash");
        const now = new Date();
        randomMsg = [
            "Hello!",
            "Sitting in the corner",
            "haha, I am Peter and I am green",
            "This website is sponsored by your mother.",
            "Frogeline!",
            "Go get a job",
            "// TODO: go fishing",
            "This is splash text.",
            "Dax says hi!",
            "imma dax your cr",
            "No secrets here!",
            "\"Professional website\"",
            "This website is great. It's the greatest website I've ever seen, really. I've never seen a better website.",
            "Delusional!",
            "fih 💔",
            "Watching Instagram Reels and driving feels illegal.",
            "Wow",
            "message.txt",
            "John, get the hummus",
            "Is this on?",
            "Good morning, afternoon, evening, night, whatever",
            "I ran out of beer.",
            "Can I flex my email? It's daxcr@@dax.cr",
            "Correct!",
            "This is a website.",
            "Dax forgets to say hi.",
            "Flint and steel!",
            "No sign of intelligence anywhere...",
            "You're short.",
            "Crunchy",
            "My VPS is powered by 12 hamsters.",
            "FEED IT",
            "smots gaming",
            "Most efficient...",
            "Fact checked by Dax",
            "2 frames per sometime",
            "Get your ass back over here",
            "I'm suprised you could even type \"dax.cr\" into your URL bar.",
            "[unrelated political opinion here]",
            "Diorite. Diorite? Diorite!",
            "Made with hatred.",
            "ChatGPT how can I sell my sister?",
            "I will cut you down, break you apart, splay the gore of your profane form across the stars.",
            "This message is randomised!",
            "Unempl*yment if it was a website.",
            "Gamble your retirement funds.",
            "Just a friendly reminder that blood sacrifices cannot be performed on a Tuesday.",
            "GET BACK TO WORK!",
            "Enter my van for free RAM"
        ]
        if (now.getMonth() === 4 && now.getDate() === 9){
            randomMsg = [
                "Happy birthday to meeeee!",
                "It's my birthday",
                "Send me 5 billion dollars as a present pls",
                "I'm one year closer to dying.",
                "WOOOOOOOO!"
            ]
        }
        if (now.getMonth() === 11 && now.getDate() === 25){
            randomMsg = [
                "Chrimas",
                "So like, we don't get snow down here.",
                "Santa and his big ass sack",
                "I haven't seen Jak since late November. Maybe Santa thought he was an elf.",
                "Ts is NOT Halloween."
            ]
        }
        if (now.getMonth() === 3 && now.getDate() === 1){
            randomMsg = [
                "grwtgnhwjrtgkwkjdfhgbjks",
                "wawawa",
                "hop on fort",
                "blublublublublub",
                "You da real April Fool!"
            ]
        }
        if (now.getMonth() === 9 && now.getDate() === 31){
            randomMsg = [
                "boo",
                "spooky scary",
                "Daxcr was shot by Skeleton.",
                "Kid knocked on my door saying sum \"Trick or Treat\".",
                "Ts IS Halloween twin 🥲"
            ]
        }
        if (now.getMonth() === 0 && now.getDate() === 1){
            randomMsg = [
                "New year new me",
                `Already fucked up ${now.getFullYear()}. ${now.getFullYear() + 1} gonna be my year fr.`,
                "Babe there's cows outside...",
                "Wake up! It's the first of the month!", 
                "Cron must be excited."
            ]
        }
        if (now.getMonth() === 1 && now.getDate() === 14){
            randomMsg = [
                "I hooked up with some random person on Tinder and my VPS overheated. Never dating again!",
                "International goon day 🙌",
                "Disappointment is in the air!",
                "And you STILL don't have a girlfriend!",
                "Ignore the other splash messages, I still love you."
            ]
        }
        if (now.getMonth() === 2 && now.getDate() === 17){
            randomMsg = [
                "Kiss me, I'm a developer",
                "You got the height of a leprechaun.",
                "I'm wearing green thongs, please don't pinch me.",
                "GREEN",
                "I'm feeling Irish today."
            ]
        }
        if (now.getMonth() === 10 && now.getDate() === 5){
            randomMsg = [
                "Lmao bro exploded",
                "Fireworking it",
                "I eat gunpoweder for breakfast.",
                "Guy Fawkes booby trapped the stalemate button.",
                "How many creepers did Guy Fawkes kill to get that much gunpowder?"
            ]
        }
        if (now.getMonth() === 1 && now.getDate() === 29){
            randomMsg = [
                "So you're telling me he leaped over a year?",
                "Imagine being born on this date.",
                "John, born 64 years ago on this date, is now old enough to apply for a drivers license.",
                "A day rarer than you pulling a girlfriend.",
                "Just because today is special, it doesn't mean you are."
            ]
        }

        splash.innerHTML = randomMsg[Math.floor(Math.random() * randomMsg.length)];
    </script>
    <script src="../themeSwapper.js"></script>
    <script>
        window.addEventListener("message", function(event) {
            if (event.data?.type === "theme") {
                for (const [key, val] of Object.entries(event.data.theme)) {
                    document.documentElement.style.setProperty(key, val);
                }
            }
        });
    </script>
</html>